<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button (click)="openMenu()"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-title>Bibliothèque</ion-title>

      <ion-button routerLink="/home">home</ion-button>
     
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/register">register</ion-button>
      <ion-button routerLink="/login">login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon name="mail-outline" slot="start"  style="color: blue;"></ion-icon>
    <ion-label position="floating" >Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>


  <ion-item>
    <ion-icon name="lock-closed-outline" slot="start" style="color: blue;" ></ion-icon>
    <ion-label position="floating" >Mot de passe</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="login()" style="--background: blue; color: #ffffff;">Connexion</ion-button>
 <button #myElement id="open-toast" hidden>button</button>

  <ion-toast trigger="open-toast" message="{{err}}" [duration]="5000"></ion-toast>
</ion-content>
