<ion-header>
  <ion-toolbar>
    <ion-title>Liste des Livres</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/add-livre">Ajouter Livre</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let livre of livres">
      <ion-label>
        <h2>{{ livre.title }}</h2>
        <h3>{{ livre.author }}</h3>
        <p>{{ livre.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>
