
<!-- src/app/navbar/navbar.component.html -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button (click)="openMenu()"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-title>Bibliothèque</ion-title>

      <ion-button routerLink="/home">home</ion-button>
     
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/register">register</ion-button>
      <ion-button routerLink="/login">login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Bienvenue sur mon bibliotheque</strong>
    

  </div>
</ion-content>
